@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  max-height: auto;
}

.container {
  flex-direction: column;
}

.content {
  flex: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* Para IE e Edge */
  scrollbar-width: none;      /* Para Firefox */
}


@keyframes shine {
  to {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine 2s linear infinite;
}
